.container{
    margin: auto;
    margin-top: 10px;
    width: 225px;
    height: 300px;
    background-image: url(images.jpg);
}

.form{
    margin: auto;
    margin-top: 10px;
    width: 700px;
    height: 400px;
    background-color: rgb(211, 211, 211);
    border-radius: 20px;
    align-content: center;
}

.login{
    margin: auto;
    width: 600px;
    height: 300px;
    align-content: center;
}